
/** service-details **/

.service-details{
  position: relative;
}

.service-details-content .image-box {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 20px;
  max-height: 450px;
  width: 100%;
}

.service-details-content .image-box img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  transition: all 500ms ease;
}



/** RTL-CSS **/




/** RESPONSIVE-CSS **/

@media only screen and (max-width: 1599px){
  
}



@media only screen and (max-width: 1200px){



}

@media only screen and (max-width: 991px){



}

@media only screen and (max-width: 767px){



}

@media only screen and (max-width: 599px){

  

}

@media only screen and (max-width: 499px){



}












































